In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd, numpy as np
movies= pd.read_csv('data/movies.csv')
ratings = pd.read_csv('data/ratings.csv')

In [5]:
movies.shape
ratings.shape
movies.head(2)

(9742, 3)

(100836, 4)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [9]:
df = pd.merge(movies, ratings, how='inner', on = 'movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [10]:
df.shape

(100836, 6)

In [11]:
df.columns

Index(['movieId', 'title', 'genres', 'userId', 'rating', 'timestamp'], dtype='object')

In [12]:
movie_ratings = df.pivot_table(index='userId', columns='title', values='rating')
movie_ratings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
starwarratings = movie_ratings['Star Wars: Episode I - The Phantom Menace (1999)']
starwarratings.head(20)

userId
1     4.0
2     NaN
3     NaN
4     1.0
5     NaN
6     NaN
7     1.5
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    3.0
20    NaN
Name: Star Wars: Episode I - The Phantom Menace (1999), dtype: float64

In [14]:
similar_to_starwars = movie_ratings.corrwith(starwarratings)

similar_to_starwars = similar_to_starwars.dropna()
similar_to_starwars_df=pd.DataFrame(similar_to_starwars)
similar_to_starwars_df.head()

C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\numpy\lib\function_base.py:3159: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\numpy\lib\function_base.py:3093: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

                                       0
title
'burbs, The (1989)             -0.116585
(500) Days of Summer (2009)     0.558556
*batteries not included (1987)  0.235435
10 Cent Pistol (2015)          -1.000000
10 Cloverfield Lane (2016)      0.784782

In [20]:
similar_to_starwars_df.sort_values(by=0, ascending=False).head(20)

                                                      0
title
Loss of Sexual Innocence, The (1999)                1.0
Cujo (1983)                                         1.0
Straw Dogs (1971)                                   1.0
Men at Work (1990)                                  1.0
Vitelloni, I (a.k.a. The Young and the Passiona...  1.0
Everest (2015)                                      1.0
Savages (2012)                                      1.0
Hills Have Eyes II, The (2007)                      1.0
Himalaya (Himalaya - l'enfance d'un chef) (1999)    1.0
RV (2006)                                           1.0
Substitute, The (1996)                              1.0
The Secret Life of Pets (2016)                      1.0
Escaflowne: The Movie (Escaflowne) (2000)           1.0
Best of Youth, The (La meglio gioventù) (2003)      1.0
Best Exotic Marigold Hotel, The (2011)              1.0
War for the Planet of the Apes (2017)               1.0
Play Misty for Me (1971)                            1.0
American Me (1992)                                  1.0
Cup, The (Phörpa) (1999)                            1.0
The Overnight (2015)                                1.0

In [25]:
movie_ratings_size_factor = df.groupby('title').agg({'rating':[np.size, np.mean]})
movie_ratings_size_factor.head(20)

                                            rating
                                              size      mean
title
'71 (2014)                                     1.0  4.000000
'Hellboy': The Seeds of Creation (2004)        1.0  4.000000
'Round Midnight (1986)                         2.0  3.500000
'Salem's Lot (2004)                            1.0  5.000000
'Til There Was You (1997)                      2.0  4.000000
'Tis the Season for Love (2015)                1.0  1.500000
'burbs, The (1989)                            17.0  3.176471
'night Mother (1986)                           1.0  3.000000
(500) Days of Summer (2009)                   42.0  3.666667
*batteries not included (1987)                 7.0  3.285714
...All the Marbles (1981)                      1.0  2.000000
...And Justice for All (1979)                  3.0  3.166667
00 Schneider - Jagd auf Nihil Baxter (1994)    1.0  4.500000
1-900 (06) (1994)                              1.0  4.000000
10 (1979)                                      4.0  3.375000
10 Cent Pistol (2015)                          2.0  1.250000
10 Cloverfield Lane (2016)                    14.0  3.678571
10 Items or Less (2006)                        3.0  2.666667
10 Things I Hate About You (1999)             54.0  3.527778
10 Years (2011)                                1.0  3.500000

In [29]:
popular_movies = movie_ratings_size_factor['rating']['size']>100
movie_ratings_size_factor[popular_movies].head()

                                  rating
                                    size      mean
title
2001: A Space Odyssey (1968)       109.0  3.894495
Ace Ventura: Pet Detective (1994)  161.0  3.040373
Aladdin (1992)                     183.0  3.792350
Alien (1979)                       146.0  3.969178
Aliens (1986)                      126.0  3.964286

In [30]:
movie_ratings_size_factor[popular_movies].sort_values(by=[('rating', 'mean')], ascending=False)[:20]

                                                   rating
                                                     size      mean
title
Shawshank Redemption, The (1994)                    317.0  4.429022
Godfather, The (1972)                               192.0  4.289062
Fight Club (1999)                                   218.0  4.272936
Godfather: Part II, The (1974)                      129.0  4.259690
Departed, The (2006)                                107.0  4.252336
Goodfellas (1990)                                   126.0  4.250000
Dark Knight, The (2008)                             149.0  4.238255
Usual Suspects, The (1995)                          204.0  4.237745
Princess Bride, The (1987)                          142.0  4.232394
Star Wars: Episode IV - A New Hope (1977)           251.0  4.231076
Schindler's List (1993)                             220.0  4.225000
Apocalypse Now (1979)                               107.0  4.219626
American History X (1998)                           129.0  4.217054
Star Wars: Episode V - The Empire Strikes Back ...  211.0  4.215640
Raiders of the Lost Ark (Indiana Jones and the ...  200.0  4.207500
One Flew Over the Cuckoo's Nest (1975)              133.0  4.203008
Reservoir Dogs (1992)                               131.0  4.202290
Pulp Fiction (1994)                                 307.0  4.197068
Matrix, The (1999)                                  278.0  4.192446
Amelie (Fabuleux destin d'Amélie Poulain, Le) (...  120.0  4.183333

In [33]:
similar_to_starwars.head()

title
'burbs, The (1989)               -0.116585
(500) Days of Summer (2009)       0.558556
*batteries not included (1987)    0.235435
10 Cent Pistol (2015)            -1.000000
10 Cloverfield Lane (2016)        0.784782
dtype: float64

In [35]:
final_result = movie_ratings_size_factor[popular_movies].join(pd.DataFrame(similar_to_starwars, columns=['similarity_index']))
final_result.head()

C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

,"(rating, size)","(rating, mean)",similarity_index
title,,,
2001: A Space Odyssey (1968),109.0,3.894495,0.107077
Ace Ventura: Pet Detective (1994),161.0,3.040373,0.027519
Aladdin (1992),183.0,3.792350,0.126360
Alien (1979),146.0,3.969178,-0.088764
Aliens (1986),126.0,3.964286,0.105977

In [36]:
final_result.sort_values(by='similarity_index', ascending=False)

,"(rating, size)","(rating, mean)",similarity_index
title,,,
Star Wars: Episode I - The Phantom Menace (1999),140.0,3.107143,1.000000
True Lies (1994),178.0,3.497191,0.472296
Batman Begins (2005),116.0,3.862069,0.467457
"Net, The (1995)",112.0,3.040179,0.459687
"Firm, The (1993)",101.0,3.534653,0.450057
Star Trek: Generations (1994),108.0,3.393519,0.446760
American Pie (1999),103.0,3.378641,0.443614
Spider-Man (2002),122.0,3.540984,0.436054
Star Wars: Episode VI - Return of the Jedi (1983),196.0,4.137755,0.388504
Up (2009),105.0,4.004762,0.375921
"Truman Show, The (1998)",125.0,3.812000,0.371163
Dumb & Dumber (Dumb and Dumber) (1994),133.0,3.060150,0.362802
E.T. the Extra-Terrestrial (1982),122.0,3.766393,0.347017
Babe (1995),128.0,3.652344,0.338386
Beauty and the Beast (1991),146.0,3.770548,0.332781
X-Men (2000),133.0,3.699248,0.323956
Independence Day (a.k.a. ID4) (1996),202.0,3.445545,0.322983
Clear and Present Danger (1994),110.0,3.604545,0.321666
Twister (1996),123.0,3.321138,0.317552
Minority Report (2002),120.0,3.637500,0.312628
"Bourne Identity, The (2002)",112.0,3.816964,0.305734
Titanic (1997),140.0,3.414286,0.304469
Indiana Jones and the Temple of Doom (1984),108.0,3.638889,0.303244
Gladiator (2000),170.0,3.938235,0.300217
Finding Nemo (2003),141.0,3.960993,0.298447
Jumanji (1995),110.0,3.431818,0.291674
Léon: The Professional (a.k.a. The Professional) (Léon) (1994),133.0,4.018797,0.290046
Pretty Woman (1990),135.0,3.485185,0.284428
Crimson Tide (1995),103.0,3.635922,0.284279
Stargate (1994),140.0,3.375000,0.281584
...,...,...,...
Catch Me If You Can (2002),115.0,3.921739,0.039960
"Sixth Sense, The (1999)",179.0,3.893855,0.037617
"Lord of the Rings: The Fellowship of the Ring, The (2001)",198.0,4.106061,0.036287
Ace Ventura: Pet Detective (1994),161.0,3.040373,0.027519
Die Hard (1988),145.0,3.862069,0.024077
Memento (2000),159.0,4.122642,0.023824
"Shining, The (1980)",109.0,4.082569,0.020474
Reservoir Dogs (1992),131.0,4.202290,0.018002
"Shawshank Redemption, The (1994)",317.0,4.429022,0.005126
"Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)",110.0,3.836364,-0.002660
Willy Wonka & the Chocolate Factory (1971),119.0,3.873950,-0.003574
"Clockwork Orange, A (1971)",120.0,3.995833,-0.005446
Pulp Fiction (1994),307.0,4.197068,-0.021604
Austin Powers: The Spy Who Shagged Me (1999),121.0,3.198347,-0.023164
Fight Club (1999),218.0,4.272936,-0.024671
Fargo (1996),181.0,4.116022,-0.029794
Ghostbusters (a.k.a. Ghost Busters) (1984),120.0,3.775000,-0.047107
"Godfather: Part II, The (1974)",129.0,4.259690,-0.085728
Alien (1979),146.0,3.969178,-0.088764
Full Metal Jacket (1987),102.0,4.098039,-0.093757
Interview with the Vampire: The Vampire Chronicles (1994),109.0,3.458716,-0.101631
Clueless (1995),104.0,3.293269,-0.131024
Apocalypse Now (1979),107.0,4.219626,-0.141264
Kill Bill: Vol. 2 (2004),110.0,3.868182,-0.141317
American Beauty (1999),204.0,4.056373,-0.149818
One Flew Over the Cuckoo's Nest (1975),133.0,4.203008,-0.151687
"Godfather, The (1972)",192.0,4.289062,-0.158290
Eternal Sunshine of the Spotless Mind (2004),131.0,4.160305,-0.164531
Kill Bill: Vol. 1 (2003),131.0,3.961832,-0.192105
Taxi Driver (1976),104.0,4.105769,-0.342574